@import url(//fonts.googleapis.com/css?family=Open+Sans:300);

body {   
    font-family: 'Open Sans',sans-serif;
    font-size: 14px;
}

.controls a,
.controls a:hover {
    text-decoration: none;
    color: gray;
    padding: 10px;
}

.welcome-message {
    position: relative;
    display: block;
    padding: 15px 15px;
    color: #9d9d9d;
}

.contact {
    background: #eee;
    border-bottom: 1px solid #2b3e50;
    padding: 10px;
}
.contactEdit {
    background: #eee;
    padding: 20px 30px;
}
.controls h3 {
    display: inline-block;
}

@media (max-width: 768px) {
    .welcome-message {
        display: none;
    }
}

/******* override bootrstrap classes *******/
.navbar-inverse,
.navbar-inverse .navbar-toggle,
.navbar-inverse .navbar-toggle:hover,
.navbar-inverse .navbar-toggle:focus,
.navbar-inverse .navbar-toggle:active {
    margin-bottom: 0;
    border-color: #2b3e50;
    background-color: #2b3e50;
    font-size: 16px;
}

.form-horizontal .control-label {
    padding-top: 7px;
}

.form-control, .btn {
    border-radius: 0;
}

.btn {
    color: #9d9d9d;
    background-color: #2b3e50;
}

.btn:hover {
    background-color: #2b3e50;
}