<div class="contactEdit row" data-ng-controller="contactEditController">
    <h4>{{(contact._id) ? 'Edit' : 'Add'}} Contact</h4>
    <form class="form-horizontal">
        <div class="form-group">
                <input type="text" class="form-control" id="inputFirstname" ng-model="contact.firstname">
         </div>
        <div class="form-group">
            <input type="text" class="form-control" id="inputLastname" ng-model="contact.lastname">
        </div>
        <div class="form-group">
            <input type="text" class="form-control" id="inputCompany" ng-model="contact.company">
        </div>
        <div class="form-group">
                <input type="email" class="form-control" id="inputEmail" ng-model="contact.email">
        </div>
        <div class="form-group">
            <input type="text" class="form-control" id="inputTelephone" ng-model="contact.telephone">
        </div>
        <div class="form-group">
            <input type="text" class="form-control" id="inputMobile" ng-model="contact.mobile">
        </div>
        <div class="form-group">
            <button type="submit" class="btn btn-primary" data-ng-click="saveContact()">
                <span data-ng-hide="loading">{{(contact._id) ? 'Update' : 'Add'}}</span>

<span data-ng-show="loading">
    Saving
    <i class="fa fa-spinner fa-spin"></i>
</span></button>
            <div class="statusRow">
                <br />
                <div class="label label-important" data-ng-show="vm.errorMessage">
                    <span class="glyphicon glyphicon-thumbs-down icon-white"></span>&nbsp;&nbsp;Error: {{ $scope.status }}
                </div>
            </div>
        </div>
    </form>
</div>
