<div data-ng-controller="contactsListController">
    <div class="row contact" data-ng-repeat="contact in contacts | filter:search">
        <div class="contactrow">
            <div class="container" id="contact_{{contact._id}}">
                <div class="col-md-8">
                    <h4>{{contact.lastname}},{{contact.firstname}}</h4>
                    <h5>{{contact.email}},{{contact.company}}</h5>
                </div>
                <div class="controls col-md-4">
                    <h5>
                        <a ui-sref="root.editcontact({ id: contact._id })" title="Edit" class="glyphicon glyphicon-edit"></a>
                    </h5>
                    <h5>
                        <a ng-href="#" ng-confirm-message="Do you really want to delete this contact?" ngconfirm="remove(contact._id, contact._rev)" class="glyphicon glyphicon-trash"></a>
                    </h5>
                </div>
            </div>
        </div>
    </div>
</div>