<div data-ng-controller="contactsController" data-ng-init="getContacts()">
    <div class="row contact" data-ng-repeat="contact in contacts | filter:search">
        <div id="contact_{{contact._id}}">
            <div class="col-md-8">
                <h4>{{contact.lastname}},{{contact.firstname}}</h4>
                <h5>{{contact.email}},{{contact.company}}</h5>
            </div>
            <div class="controls col-md-4">
                <h5>
                    <a href="contact/{{contact._id}}" title="Edit" class="glyphicon glyphicon-edit"></a>
                </h5>
                <h5>
                    <a ng-href="#" ng-click="deleteContact(contact._id)" title="Delete" class="glyphicon glyphicon-trash"></a>
                </h5>
            </div>           
        </div>
    </div>
    <div class="statusRow">
        <br />
        <div class="label label-important">
            <span class="glyphicon glyphicon-thumbs-down icon-white"></span>&nbsp;&nbsp;Error: {{ vm.err }}
        </div>
    </div>
</div>
